### --------------------------------------------- FRONTEND
# Clé certificat SSL
frontend/certificate.crt
frontend/private.key

# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js

# testing
frontend/coverage

# production
frontend/build

# misc
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

### --------------------------------------------- BACKEND 
api-back/src/main/resources/application.properties

### STS ###
api-back/HELP.md
api-back/target/
api-back/src/resources/application.properties
api-back/!.mvn/wrapper/maven-wrapper.jar
api-back/!**/src/main/**/target/
api-back/!**/src/test/**/target/
api-back/src/main/resources/application.properties


### STS ###
api-back/.apt_generated
api-back/.classpath
api-back/.factorypath
api-back/.project
api-back/.settings
api-back/.springBeans
api-back/.sts4-cache

### IntelliJ IDEA ###
api-back/.idea
api-back/*.iws
api-back/*.iml
api-back/*.ipr

### NetBeans ###
api-back/nbproject/private/
api-back/nbbuild/
api-back/dist/
api-back/nbdist/
api-back/.nb-gradle/
api-back/build/
api-back/!**/src/main/**/build/
api-back/!**/src/test/**/build/

### VS Code ###
api-back/.vscode/
.vscode/
.conception/.$MCDMPD.drawio.bkp
