form {
  display: flex;
  justify-content: center;
  gap: 5%;
}

form div {
  display: flex;
  align-items: center;
  gap: 2%;
}

form div select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #e1f1ed;
}

