
#table {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #table table {
    width: 90%;
  }
  
  .user {
    margin-right: 20px;
  }
  
  .user h4 {
    margin-bottom: 10px;
  }

  .days {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  
  .day {
    list-style: none;
    margin-bottom: 5px;
  }

  