.calendar {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.absences {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
}

.action {
  display: flex;
  justify-content: space-around;
}

.action button {
  font-size: 0.8em;
  padding: 0.5em;
  border-color: #000000;
}

.modifier {
  background-color: #f0ad4e;
}

.supprimer {
  background-color: #d9534f;
}

.classNum {
  width: 5%;
}
.classStatus {
  width: 10%;
}
.classDate {
  width: 10%;
}
.classType {
  width: 10%;
}
.classAction {
  width: 10%;
}

.action a {
  color: #000000;
}
