#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 3em;
}

h2 {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 2em;
}

h3 {
  font-family: "Bowlby One SC", sans-serif;
  font-size: 1.5em;
}

a {
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #478d7e;
}

* {
  font-family: "Yantramanav", sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

table {
  border-collapse: collapse;
}

td,
th {
  text-align: left;
  padding: 8px;
}

th {
  border: 1px solid #dddddd;
  background-color: #2f5059;
  color: white;
}

tr:nth-child(even) {
  background-color: #e1f1ed;
}

tr:hover {
  background-color: #478d7e7e;
}

.valider,
.refuser,
.modifier,
.supprimer {
  color: white;
}

.valider:hover,
.refuser:hover,
.modifier:hover,
.supprimer:hover {
  text-decoration: underline;
  color: white;
}
.valider {
  background-color: #478d7e;
  border-radius: 0.7em 0 0 0.7em;
}

.refuser {
  background-color: #d9534f;
  border-radius: 0 0.7em 0.7em 0;
}

.modifier {
  background-color: #f0ad4e;
  border-radius: 0.7em 0 0 0.7em;
}

.supprimer {
  background-color: #d9534f;
  border-radius: 0 0.7em 0.7em 0;
}

.red {
  color: #d9534f;
}

.classNum {
  width: 5%;
}
.classStatus {
  width: 10%;
}
.classDate {
  width: 10%;
}
.classType {
  width: 10%;
}
.classAction {
  width: 10%;
}

.classActionButtons {
  font-size: 0.8em;
  padding: 0.5em;
  display: flex;
  justify-content: space-around;

  button {
    display: flex;
    flex-direction: row;
  }

  a {
    color: white;
  }

  span {
    color: black;
  }
}

.classForTable {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
}
